.mainBackground{
    -fx-background-image: url("images/mainBack.png");
    -fx-background-size: stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.menuOption{
    -fx-background-color: #4185d1;
    -fx-cursor: hand;
}
#statistics{
    -fx-background-color: white;
    -fx-border-width: 2px;
    -fx-border-color: #4185d1;
}
.underLine{
    -fx-background-color: #4185d1;
}
#creditsLabel{
    -fx-background-color: rgba(0,0,0,0.3);
    -fx-padding: 7 10;
    -fx-cursor: hand;
}
.dialogBackground{
    -fx-background-color: #444444;
}
.button-bar > .container{
    -fx-background-color: #444444;
}
.dialog-pane .button{
    -fx-background-color: #4185d1;
    -fx-text-fill: white;
    -fx-cursor:hand;
    -fx-background-radius: 0,0,0,0;
}
.radio-button{
    -fx-padding: 0 5px 0 0;
}
.radio-button > .radio {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0px;
    -fx-padding: 0.0em; /* 4 8 4 8 */
}
.radio-button > .radio > .dot{
    -fx-background-insets: 0;
    -fx-background-radius: 0px;
    -fx-padding: 0.0em;
}
.radio-button:selected > .radio > .dot {
    -fx-background-color: transparent;
}
.radio-button:selected{
    -fx-background-color: rgba(270,270,270,0.2);
}
.flightBackground{
    -fx-background-image: url('images/flightBack.jpg');
    -fx-background-size: 1200 700;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}
.airlineBackground{
    -fx-background-image: url('images/airlineBack.jpg');
    -fx-background-size: 1200 700;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}
.airplaneBackground{
    -fx-background-image: url('images/airplaneBack.jpg');
    -fx-background-size: 1200 700;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}
.listsBackground{
    -fx-background-color: #4185d1;
    -fx-box-border: transparent;
}
.optionPane, .holdIcon{
    -fx-cursor: hand;
}
.searchInput{
    -fx-background-color: transparent;
    -fx-box-border: transparent;
    -fx-text-box-border: transparent;
    -fx-border-width: 1.5px;
    -fx-border-color: #4185d1;
    -fx-border-radius: 30px;
    -fx-prompt-text-fill: #ccc;
}
.searchInput:focused {
    -fx-focus-color: transparent;
}

.pin {
    -fx-shape: "M13.558,0C6.07,0,0,6.07,0,13.558s13.558,22.346,13.558,22.346s13.558-14.858,13.558-22.346S21.045,0,13.558,0z M13.558,20.762c-4.084,0-7.395-3.311-7.395-7.395s3.311-7.395,7.395-7.395c4.084,0,7.396,3.311,7.396,7.395 S17.642,20.762,13.558,20.762z";
    -fx-background-color:white;
    -fx-background-insets: 0, 2;
    -fx-pref-width: 34;
    -fx-pref-height: 45;
}
.mapPin .arrow-button .arrow {
    -fx-padding: 0;
}
.scroll-pane:focused{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.splitPane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}
.flightItem{
    -fx-background-color: white;
    -fx-border-width:1px;
    -fx-border-color: #d3d3d3;
}
.item{
    -fx-background-color: #F9F9F9;
    -fx-border-color: #F0F0F0;
    -fx-border-width: 1;
}